services:
  keycloak:
    image: quay.io/keycloak/keycloak:21.1.1
    container_name: keycloak
    command: start-dev --import-realm
    environment:
      - KEYCLOAK_ADMIN=admin
      - KEYCLOAK_ADMIN_PASSWORD=admin
    ports:
      - "8080:8080"
    healthcheck:
      test: ["CMD-SHELL", "exec 3<>/dev/tcp/localhost/8080 && echo -e 'GET /health/ready HTTP/1.1\r\nHost: localhost\r\n\r\n' >&3 && grep -q '200 OK' <&3"]
      interval: 30s
      timeout: 10s
      retries: 10
      start_period: 120s
    networks:
      - app-net

  backend:
    build:
      context: ./fastapi-backend
    container_name: backend

    environment:
    - OIDC_ISSUER=http://keycloak:8080/realms/demo-realm
    - OIDC_CLIENT_ID=vue-client
    - OIDC_CLIENT_SECRET=""
    - BFF_REDIRECT_URI=http://localhost:8000/auth/callback


    command: uvicorn main:app --host 0.0.0.0 --port 8000

    depends_on:
      keycloak:
        condition: service_started

    ports:
      - "8000:8000"
    networks:
      - app-net

  frontend:
    build:
      context: ./vue-frontend/vue-frontend
    container_name: frontend
    ports:
      - "8081:80"
    depends_on:
      - backend
    networks:
      - app-net

networks:
  app-net:
    driver: bridge
